<footer class=" elegant-color ">
 <!-- Grid container -->
  <!-- Copyright -->
  <div class="text-center">
    © 2020 Copyright:
    <a href="https://e-commerce.com/">E-commerce.com</a>
  </div>

  <!-- Copyright -->
</footer>