<footer class="container-fluid mt-auto bg-light">
            <div class="row">
                <section class="col">1</section>
                <section class="col">2</section>
                <section class="col">3</section>
            </div>
        </footer>