<footer class="container mt-auto bg-dark text-white text-center">
 <!-- Grid container -->
  <!-- Copyright -->
  <div class="text-center p-3">
    © 2020 Copyright:
    <a class="text-white" href="https://e-commerce.com/">E-commerce.com</a>
  </div>
  <!-- Copyright -->
</footer>