{% extends "base.html.twig" %}

{% block title %}Réinitialisation de mot de passe{% endblock %}

{% block body %}
  <div class="position-relative overflow-hidden p-3 p-md-5 m-md-3 text-white" style="background-image: url('/assets/images/details.jpg');">
    <div class="col-md-5 p-lg-5 my-5" >
      <h1 class="display-3 fw-bold">#ResetPassword</h1>
    </div>
  </div>
  <section class="container my-5">
    <div class="row my-2">
      <div class="col-sm-6 offset-md-3 fw-semibold text-center fs-4 ">
        {{ form_start(passForm)}}
          {{ form_row(passForm.password)}}
          <button class="btn btn-primary my-3 fs-4" type="submit">Réinitialiser votre mot de passe</button>
        {{ form_end(passForm)}}
      </div>
    </div>
  </section>
{% endblock %}